.desordre .cyanTriangle {
    transform: translate(213px, 103px);
}
.desordre .greenTriangle {
    transform: translate(-52px, 154px) rotate(45deg);
}
.desordre .blueTriangle {
    transform: translate(77px, -48px) rotate(180deg);
}
.desordre .yellowSquare {
    transform: translate(13px, 66px);
}
.desordre .orangeTriangle {
    transform: translate(85px, 190px) rotate(20deg);
}
.desordre .redTriangle {
    transform: translate(77px, -2px) rotate(180deg);
}
.desordre .purplePara {
    transform: translate(135px, 152px) rotate(45deg) skew(45deg);
}
