.dromadaire .cyanTriangle {
  transform: translate(57px, 59px);
}

.dromadaire .greenTriangle {
  transform: translate(166px, 45px) rotate(-45deg);
}

.dromadaire .blueTriangle {
  transform: translate(6px, -44px) rotate(180deg);
}

.dromadaire .yellowSquare {
  transform: translate(71px, 22px) rotate(45deg);
}

.dromadaire .orangeTriangle {
  transform: translate(142px, 3px) rotate(-90deg);
}

.dromadaire .redTriangle {
  transform: translate(-20px, -70px) rotate(90deg);
}

.dromadaire .purplePara {
  transform: translate(1px, 49px) rotate(-135deg) skew(45deg);
}
